<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link href="__PUBLIC__/layui/css/layui.css" rel="stylesheet">
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="__PUBLIC__/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/layui/layui.js"></script>


    <style>

        a:hover{
            text-decoration:none;
        }

        button a{
            color: #fff;
        }

        button a:hover{
            color: #fff;
        }
        .content{
            margin-top: 50px;
        }

    </style>
</head>
<body>

<div class="content">
    <block name="main">

    </block>
</div>

