<include file="Public/header" />
<title>开始微擎</title>

<block name="main">

    <div class="container-fluid">

        <div class="conent col-md-offset-3 col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>开始微擎</h3></div>
                <div class="panel-body">
                    <div class="top">
                        <p>
                            1.微擎官方手册
                            <a href="http://www.kancloud.cn/donknap/we7/136557" target="_blank">点击查看</a>
                        </p>
                        <p>
                            2.微擎下载地址
                            <a href="http://s.we7.cc/index.php?c=store&a=static&do=install&" target="_blank">点击查看</a>
                        </p>
                    </div>

                    <div>
                        <p>3.常用工具推荐</p>

                        <div class="text">
                            <p>(1) phpstrom 是一款强大的IDE. <a href="http://www.jetbrains.com/phpstorm/" target="_blank">点击下载IDE</a>(自行百度激活) <a href="{$filePath}" target="_blank">点击下载配置文件</a> </p>
                            <p>(2) Navicat  是一款数据库管理软件 自行下载</p>
                            <p>(3) phpstudy 搭建本地网络环境.进行本地测试学习</p>
                            <p>(4) 微信web开发者工具 微信开发离不开的调试工具 <a href="https://mp.weixin.qq.com/debug/wxadoc/dev/devtools/download.html"  target="_blank">点击查看下载</a></p>
                            <p>(5) 微信公众号开发文档 <a href="https://mp.weixin.qq.com/wiki" target="_blank">点击查看</a> </p>
                            <p>(6) 推荐使用Chrome浏览器</p>

                        </div>

                    </div>
                    <div>
                        自行下载微擎.并在本地搭建测试学习.
                    </div>

                    <a href="{:U('Index/index')}">
                        <button type="button" style="margin-top: 8px" class="btn btn-primary">
                            点击返回首页
                        </button>
                    </a>

                    <div>
                        <p>by    <span style="color: red">yc</span></p>
                    </div>
                    <!-- PHP语言是世界上最好的语言 -->
                </div>
            </div>
        </div>

    </div>


</block>