<include file="Public/header" />

<title>功能小站</title>
<block name="main">

    <div class="container-fluid">


        <div class="conent col-md-offset-3 col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>请开始你的表演</h3></div>
                <div class="panel-body">

                    <a href="{:U('Index/createConf')}">
                        <button type="button" class="btn btn-primary">
                            创建conf文件
                        </button>
                    </a>

                    <a href="{:U('Index/createConf')}">
                        <button type="button" class="btn btn-primary">
                            创建conf文件
                        </button>
                    </a>

                    <a href="{:U('Index/changePass')}">
                        <button type="button" class="btn btn-primary">
                            修改微擎密码
                        </button>
                    </a>

                    <a href="{:U('Index/begin')}">
                        <button type="button" class="btn btn-primary">
                            开始微擎
                        </button>
                    </a>

                </div>
            </div>
        </div>

    </div>

</block>




